In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.float_format', '{:.2f}'.format)

In [3]:
# Read the cleaned file
df = pd.read_csv('preprocessing/SA_clean_withClusterResults.csv')

c:\program files\python38\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (8,27,32) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df.shape

(61870, 49)

In [5]:
df.columns

Index(['Purch.Doc.', 'Item', 'Changed On', 'Short Text', 'Material', 'CoCd',
       'Plnt', 'SLoc', 'Matl Group', 'PO Quantity', 'OUn', 'OPU', 'Eq. To',
       'Net Price', 'Per', 'Net Value', 'Gross value', 'Overdel. Tol.',
       'Underdel.Tol.', 'Item.1', 'BUn', 'Non-deductible', 'Price Date',
       'Effective value', 'PTm', 'Net Weight', 'Un', 'Profit Ctr',
       'Gross Weight', 'Volume', 'RShLi', 'MTyp', 'NCM Code', 'Reb.basis',
       'Priority (Material Required Within)', 'Ordered By', 'Approved By',
       'Priority', 'Section', 'Indenter ID', 'Input Tax Credit', 'Order_yr',
       'Order_mnth', 'NumTimesBought', 'SumGrossValue', 'AvgPerUnitCost',
       'Cluster_km', 'Cluster_km3', 'IsIncludedInClustering'],
      dtype='object')

In [6]:
df.head()

,Purch.Doc.,Item,Changed On,Short Text,Material,CoCd,Plnt,SLoc,Matl Group,PO Quantity,...,Indenter ID,Input Tax Credit,Order_yr,Order_mnth,NumTimesBought,SumGrossValue,AvgPerUnitCost,Cluster_km,Cluster_km3,IsIncludedInClustering
0,9200094113,10,2018-12-07,Carton Tape,800000.00,9000,9420,9106,1100,1440.00,...,54815,NaN,2018,12,9.00,346815.40,29290.65,0.00,0.00,Yes
1,9200094830,10,2018-12-25,Carton Tape,800000.00,9000,9420,9106,1100,1440.00,...,54815,NaN,2018,12,9.00,346815.40,29290.65,0.00,0.00,Yes
2,9200095489,10,2019-01-09,Carton Tape,800000.00,9000,9420,9106,1100,360.00,...,54815,NaN,2019,1,9.00,346815.40,29290.65,0.00,0.00,Yes
3,9200095751,10,2019-01-15,Carton Tape,800000.00,9000,9420,9106,1100,1440.00,...,54815,NaN,2019,1,9.00,346815.40,29290.65,0.00,0.00,Yes
4,1000007954,10,2019-01-17,Box File,800000.00,9000,9406,PRJT,1100,6.00,...,54857,T2,2019,1,6.00,17097.38,53.22,0.00,0.00,Yes

In [7]:
pd.crosstab(df['Order_yr'],df['Order_mnth'],margins='row')

Order_mnth      1      2      3    4  5  6  7   8   9  10   11    12    All
Order_yr
2018            2      1      1    4  3  6  8  16  80  37  111  3782   4051
2019        21222  18324  17831  442  0  0  0   0   0   0    0     0  57819
All         21224  18325  17832  446  3  6  8  16  80  37  111  3782  61870

# check for Jan data

In [8]:
df_jan = df[(df['Order_yr'] == 2019) & (df['Order_mnth'] == 1) ]
df_jan.shape

(21222, 49)

In [9]:
df_jan.head()

,Purch.Doc.,Item,Changed On,Short Text,Material,CoCd,Plnt,SLoc,Matl Group,PO Quantity,...,Indenter ID,Input Tax Credit,Order_yr,Order_mnth,NumTimesBought,SumGrossValue,AvgPerUnitCost,Cluster_km,Cluster_km3,IsIncludedInClustering
2,9200095489,10,2019-01-09,Carton Tape,800000.00,9000,9420,9106,1100,360.00,...,54815,NaN,2019,1,9.00,346815.40,29290.65,0.00,0.00,Yes
3,9200095751,10,2019-01-15,Carton Tape,800000.00,9000,9420,9106,1100,1440.00,...,54815,NaN,2019,1,9.00,346815.40,29290.65,0.00,0.00,Yes
4,1000007954,10,2019-01-17,Box File,800000.00,9000,9406,PRJT,1100,6.00,...,54857,T2,2019,1,6.00,17097.38,53.22,0.00,0.00,Yes
5,7500085460,10,2019-01-21,Carbon Paper,800000.00,7860,1110,F001,1100,3000.00,...,54885,T2,2019,1,2.00,4445.60,64.20,0.00,0.00,Yes
6,1000007969,50,2019-01-23,Box File,800000.00,9000,9406,PRJT,1100,5.00,...,54857,T2,2019,1,6.00,17097.38,53.22,0.00,0.00,Yes

In [10]:
df_sum = df.groupby('Changed On',as_index=False)['Gross value'].sum()
df_sum.head()

   Changed On  Gross value
0  2018-01-19      9000.00
1  2018-01-22      9000.00
2  2018-02-07      3000.00
3  2018-03-13      3000.00
4  2018-04-12    225783.00

In [11]:
df_sum.nlargest(10,'Gross value')

     Changed On   Gross value
122  2019-01-29 2538846409.66
157  2019-03-05 2340185598.59
192  2019-04-09 2186042003.63
116  2019-01-23 2158125623.41
108  2019-01-15 2086497489.82
182  2019-03-30  609787483.95
101  2019-01-08  327538085.74
149  2019-02-25  305628499.58
142  2019-02-18  262646366.66
107  2019-01-14  261001087.23

In [12]:
df[df['Changed On'] == '2019-01-29']['Short Text'].nunique()

245

In [13]:
df[df['Changed On'] == '2019-03-30']['Short Text'].nunique()

107

In [14]:
df_sum.head()

   Changed On  Gross value
0  2018-01-19      9000.00
1  2018-01-22      9000.00
2  2018-02-07      3000.00
3  2018-03-13      3000.00
4  2018-04-12    225783.00

In [15]:
dt1 = df[df['Changed On'] == '2019-01-29'].groupby('Short Text',as_index=False)['Gross value'].sum()
dt1.nlargest(10,'Gross value')

              Short Text  Gross value
25       B1 IB Ross Feed 231276347.90
125   IBG Common Vitamin 212000000.00
28       B4 IB Ross Feed 183680000.00
167                 PL-3 177145997.60
168                 PL-4 151303878.00
83               Feed P1 141515829.00
84               Feed PS 135200000.00
169                 PL-5 128815548.95
103  Grand Parents Layer 127245000.00
91             GP-5 Feed 125707099.70

In [16]:
dt2 = df[df['Changed On'] == '2019-03-05'].groupby('Short Text',as_index=False)['Gross value'].sum()
dt2.nlargest(10,'Gross value')

              Short Text  Gross value
26       B4 IB Ross Feed 228640000.00
174                 PL-4 222120469.70
73               Feed P1 180180979.55
173                 PL-3 178697430.00
175                 PL-5 161401267.00
25       B3 IB Ross Feed 143343569.10
23       B1 IB Ross Feed 123452064.75
97   Grand Parents Layer 113709685.05
89             GP-5 Feed 110622311.80
74               Feed PS  96461360.60

In [17]:
dt3 = df[df['Changed On'] == '2019-03-30'].groupby('Short Text',as_index=False)['Gross value'].sum()
dt3.nlargest(10,'Gross value')

                           Short Text  Gross value
101         Soya Crude Oil - Purchase 259217905.25
85                Rice Bran Crude Oil 125284018.28
50                 IMP Degum Soya Oil  76859211.23
51                  IMP RBD Palmolein  32856549.00
47      IB Ross Broiler Finisher Feed  24912477.50
49       IB Ross Broiler Starter Feed  21961954.00
48   IB Ross Broiler Pre-Starter Feed  11957194.00
100                  Soya Bean - (MP)  11311285.36
56                            Khandha   7603619.05
98                    Soya Bean - (A)   6295265.65

# Check  for B1 IB Ross Feed

In [18]:
dt4 = df[(df['Short Text'] == 'B1 IB Ross Feed') & (df['Order_yr'] == 2019)].groupby('Order_mnth')['Gross value'].sum()
dt4

Order_mnth
1   541907914.05
3   123452064.75
4   155221533.60
Name: Gross value, dtype: float64

In [19]:
dt4 = df[(df['Short Text'] == 'IBG Common Vitamin') & (df['Order_yr'] == 2019)].groupby('Order_mnth')['Gross value'].sum()
dt4

Order_mnth
1   238500000.00
Name: Gross value, dtype: float64

In [20]:
dt5 = df[(df['Short Text'] == 'B1 IB Ross Feed') & (df['Order_yr'] == 2019)]
dt5.shape

(57, 49)

In [21]:
dt5['Changed On'].unique()

array(['2019-01-15', '2019-01-23', '2019-01-29', '2019-03-05',
       '2019-04-09'], dtype=object)

In [22]:
dt5 = df[(df['Short Text'] == 'IBG Common Vitamin') & (df['Order_yr'] == 2019)]
dt5.shape

(2, 49)

In [23]:
dt5['Changed On'].unique()

array(['2019-01-04', '2019-01-29'], dtype=object)

In [24]:
df_sum.nlargest(10,'Gross value')

     Changed On   Gross value
122  2019-01-29 2538846409.66
157  2019-03-05 2340185598.59
192  2019-04-09 2186042003.63
116  2019-01-23 2158125623.41
108  2019-01-15 2086497489.82
182  2019-03-30  609787483.95
101  2019-01-08  327538085.74
149  2019-02-25  305628499.58
142  2019-02-18  262646366.66
107  2019-01-14  261001087.23

In [25]:
dt5

,Purch.Doc.,Item,Changed On,Short Text,Material,CoCd,Plnt,SLoc,Matl Group,PO Quantity,...,Indenter ID,Input Tax Credit,Order_yr,Order_mnth,NumTimesBought,SumGrossValue,AvgPerUnitCost,Cluster_km,Cluster_km3,IsIncludedInClustering
27814,9200095235,10,2019-01-04,IBG Common Vitamin,920850.00,9000,9402,9106,2209,20000.00,...,54822,NG,2019,1,3.00,243225000.00,1408.33,0.00,0.00,Yes
27815,9200090862,10,2019-01-29,IBG Common Vitamin,920850.00,9000,9402,9106,2209,160000.00,...,54876,NaN,2019,1,3.00,243225000.00,1408.33,0.00,0.00,Yes

# How much do they buy for the most bought material

In [26]:
df[(df['Order_yr'] == 2019) & (df['Short Text'] == 'IB Ross Broiler Finisher Feed')].groupby('Order_mnth')['Gross value'].sum()

Order_mnth
1   822027774.70
2   791427794.80
3   840746559.00
4    26049444.88
Name: Gross value, dtype: float64

In [27]:
df[(df['Order_yr'] == 2019) & (df['Short Text'] == 'IB Ross Broiler Starter Feed')].groupby('Order_mnth')['Gross value'].sum()

Order_mnth
1   602549009.00
2   589449642.00
3   616486157.50
4    22260000.00
Name: Gross value, dtype: float64

In [28]:
df[(df['Order_yr'] == 2019) & (df['Short Text'] == 'IB Ross Broiler Pre-Starter Feed')].groupby('Order_mnth')['Gross value'].sum()

Order_mnth
1   288407179.50
2   280386090.50
3   299295922.00
4    12265500.00
Name: Gross value, dtype: float64

In [29]:
df[(df['Order_yr'] == 2019) & (df['Short Text'] == 'B4 IB Ross Feed')].groupby('Order_mnth')['Gross value'].sum()

Order_mnth
1   599920000.00
3   228640000.00
4   225520000.00
Name: Gross value, dtype: float64

In [30]:
df[(df['Order_yr'] == 2019) & (df['Short Text'] == 'B1 IB Ross Feed')].groupby('Order_mnth')['Gross value'].sum()

Order_mnth
1   541907914.05
3   123452064.75
4   155221533.60
Name: Gross value, dtype: float64

In [31]:
df[(df['Order_yr'] == 2019) & (df['Short Text'] == 'IBG Common Vitamin')].groupby('Order_mnth')['Gross value'].sum()

Order_mnth
1   238500000.00
Name: Gross value, dtype: float64

# For 2019 Month wise ...why Jan is more

In [32]:
df[df['Order_yr'] == 2019].groupby('Order_mnth')['Gross value'].sum()

Order_mnth
1   10635933454.66
2    3778603220.01
3    6380991448.72
4    2328193986.10
Name: Gross value, dtype: float64

# Explore on assets or Services

In [33]:
df_sum = df[df['Order_yr'] == 2019].groupby(['Order_mnth','Matl Group'],as_index=False)['Gross value'].sum()
df_sum.head()

   Order_mnth Matl Group  Gross value
0           1       1341    115551.50
1           1       1401    731250.00
2           1       1403   1854489.30
3           1       1404     88000.00
4           1       1405  15290744.40

In [34]:
df_sum[df_sum['Matl Group'] == 'ASSETS']

     Order_mnth Matl Group  Gross value
139           1     ASSETS  30684622.63
278           2     ASSETS  19121900.55
416           3     ASSETS  18851902.44
472           4     ASSETS  17411363.20

In [35]:
df_sum[df_sum['Matl Group'] == 'SERVICE']

     Order_mnth Matl Group  Gross value
142           1    SERVICE  17602660.57
281           2    SERVICE  35751360.50
419           3    SERVICE  18177258.75
473           4    SERVICE     81960.00