In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.set_option("max_rows", 100)
pd.set_option('display.max_columns', 100)
pd.set_option('display.float_format', '{:.2f}'.format)

In [3]:
# Read the cleaned file
df = pd.read_csv('preprocessing/SA_clean_withClusterResults.csv')
df.shape

c:\program files\python38\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (27,32) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(61870, 47)

In [4]:
df.columns

Index(['Purch.Doc.', 'Item', 'Changed On', 'Short Text', 'Material', 'CoCd',
       'Plnt', 'SLoc', 'Matl Group', 'PO Quantity', 'OUn', 'OPU', 'Eq. To',
       'Net Price', 'Per', 'Net Value', 'Gross value', 'Overdel. Tol.',
       'Underdel.Tol.', 'Item.1', 'BUn', 'Non-deductible', 'Price Date',
       'Effective value', 'PTm', 'Net Weight', 'Un', 'Profit Ctr',
       'Gross Weight', 'Volume', 'RShLi', 'MTyp', 'NCM Code', 'Reb.basis',
       'Priority (Material Required Within)', 'Ordered By', 'Approved By',
       'Priority', 'Section', 'Indenter ID', 'Input Tax Credit', 'Order_yr',
       'Order_mnth', 'NumTimesBought', 'SumGrossValue', 'AvgPerUnitCost',
       'Cluster_km'],
      dtype='object')

# Get the cluster names
'1 High Freq High Value','2 Medium Freq Medium Value'

In [5]:
df['Cluster_km'].value_counts(dropna=False)

1.00    21692
0.00    21584
2.00    14829
3.00     1920
NaN      1845
Name: Cluster_km, dtype: int64

In [6]:
col = 'Cluster_km'
conditions = [df[col] == 0, df[col] == 1, df[col] == 2,df[col] == 3 ]
choices     = ['4 Very Low Freq Very Low Value','2 Medium Freq Medium Value','1 High Freq High Value','3 Low Freq Low Value']
df['Cluster_names'] = np.select(conditions, choices, default='5 Not Clustered')
df['Cluster_names'].value_counts(dropna=False)

2 Medium Freq Medium Value        21692
4 Very Low Freq Very Low Value    21584
1 High Freq High Value            14829
3 Low Freq Low Value               1920
5 Not Clustered                    1845
Name: Cluster_names, dtype: int64

In [7]:
mat_in_2_Cluster = pd.DataFrame(df[df['Cluster_names'].isin(['1 High Freq High Value','2 Medium Freq Medium Value'])])['Short Text'].unique()
mat_in_2_Cluster

array(['IB Ross Broiler Finisher Feed',
       'IB Ross Broiler Pre-Starter Feed', 'IB Ross Broiler Starter Feed',
       'Soya Bean - (A)', 'Soya Bean - (MP)', 'Soya Bean',
       'Rice Bran Raw', 'Rice Bran Boiled', 'Maize'], dtype=object)

In [8]:
# Exolore the Insights from Tableau
# # Purchase price variance

In [9]:
df.loc[(df['Short Text'] == 'IB Ross Broiler Finisher Feed') & (df['Order_yr'] == 2019) & (df['Order_mnth'] == 1)]['Net Price'].describe()

count   2751.00
mean      27.68
std        1.60
min       24.26
25%       26.26
50%       27.78
75%       28.90
max       31.64
Name: Net Price, dtype: float64

In [10]:
df.loc[(df['Short Text'] == 'IB Ross Broiler Finisher Feed') & (df['Order_yr'] == 2019) & (df['Order_mnth'] == 2)]['Net Price'].describe()

count   2480.00
mean      29.64
std        1.38
min       26.30
25%       28.94
50%       29.76
75%       30.64
max       32.46
Name: Net Price, dtype: float64

In [11]:
df_pp = df.loc[(df['Short Text'] == 'IB Ross Broiler Finisher Feed') & (df['Order_yr'] == 2019) & (df['Order_mnth'] == 1)]
df_pp.groupby('Plnt')['Net Price'].mean().sort_values(ascending=True).reset_index(name='Mean Net Price')

    Plnt  Mean Net Price
0   PS22           25.62
1   PS27           26.42
2   PS36           26.46
3   PS23           26.67
4   4513           26.78
5   PS21           26.83
6   PS37           26.91
7   PS24           27.27
8   4512           27.37
9   4511           27.89
10  PS05           28.25
11  PS09           28.27
12  PS08           28.37
13  PS29           28.45
14  PS03           28.60
15  PS06           28.63
16  PS33           28.79
17  PS02           28.85
18  PS10           28.91
19  PS19           29.37
20  PS01           29.53
21  PS18           29.81

In [12]:
df_pp.groupby('CoCd')['Net Price'].mean().sort_values(ascending=True).reset_index(name='Mean Net Price')

   CoCd  Mean Net Price
0  4500           27.26
1  7860           27.69

In [13]:
# For patterns, create date features

In [14]:
df['Changed On'] =  pd.to_datetime(df['Changed On'], format='%Y-%m-%d')
df['Order_yr'] = df['Changed On'].dt.year
df['Order_mnth'] = df['Changed On'].dt.month
df['Order_wd'] = df['Changed On'].dt.day_name
df['Order_dow'] = df['Changed On'].dt.dayofweek
df['Order_day'] = df['Changed On'].dt.day
df['Week_Number'] = df['Changed On'].dt.isocalendar().week

In [15]:
# Explore Jan 2019

In [16]:
# 2019 Jan
df_jan2019 = df[(df['Order_yr'] == 2019) & (df['Order_mnth'] == 1)]
df_jan2019.shape

(21222, 52)

In [17]:
df_jan2019.groupby('Short Text')['Gross value'].sum().sort_values(ascending=False).reset_index(name='Gross value').head(10)

                      Short Text  Gross value
0  IB Ross Broiler Finisher Feed 822027774.70
1   IB Ross Broiler Starter Feed 602549009.00
2                B4 IB Ross Feed 599920000.00
3                B1 IB Ross Feed 541907914.05
4                          Maize 534026736.84
5               Soya Bean - (MP) 533938199.66
6                           PL-3 464724456.25
7                B2 IB Ross Feed 444014416.80
8                        Feed P1 424874840.15
9                           PL-4 393260137.00

In [18]:
# Get by week
df_jan2019[df_jan2019['Short Text'] == 'IB Ross Broiler Finisher Feed'].groupby('Week_Number')['Gross value'].sum()

Week_Number
1   137848522.00
2   194785923.20
3   156349157.50
4   175139338.50
5   157904833.50
Name: Gross value, dtype: float64

In [19]:
# Get avrg value bought by week 
df_jan2019[df_jan2019['Short Text'] == 'IB Ross Broiler Finisher Feed'].groupby('Week_Number')['Net Price'].mean()

Week_Number
1   27.04
2   26.82
3   27.28
4   28.55
5   28.80
Name: Net Price, dtype: float64

In [20]:
# Get avrg value bought by day
df_jan2019[df_jan2019['Short Text'] == 'IB Ross Broiler Finisher Feed'].groupby('Order_day')['Net Price'].mean()

Order_day
1    27.11
2    28.61
3    28.11
4    26.32
5    26.77
7    27.86
8    26.33
9    28.20
10   27.99
11   26.73
12   27.52
14   26.98
15   27.31
16   28.60
17   27.37
19   27.89
21   29.16
22   27.57
23   28.29
24   28.63
25   28.87
28   28.69
29   29.71
30   28.05
31   29.41
Name: Net Price, dtype: float64

In [21]:
# how many time bought by day
df_jan2019[df_jan2019['Short Text'] == 'IB Ross Broiler Finisher Feed'].groupby('Order_day').size()

Order_day
1     114
2      33
3      92
4     218
5       1
7      16
8     331
9      58
10     71
11    210
12      3
14    246
15     79
16     43
17    123
19      2
21    110
22     92
23    119
24    131
25    135
28    141
29     92
30    179
31    112
dtype: int64

In [22]:
df_jan_sum = df_jan2019[df_jan2019['Short Text'] == 'IB Ross Broiler Finisher Feed'].groupby('Order_day',as_index=False).agg(
    # How many order a day 
    NumOrders=('Gross value','count'),
    #NumOrders2=('Purch.Doc.','size'),
    TotalGrossValue=('Gross value','sum'),
    AvgMeanPrice=('Net Price','mean'),
    MinMeanPrice=('Net Price','min'),
    MaxMeanPrice=('Net Price','max'),
        
    )

df_jan_sum

,Order_day,NumOrders,TotalGrossValue,AvgMeanPrice,MinMeanPrice,MaxMeanPrice
0,1,114,37098173.00,27.11,24.26,29.18
1,2,33,12485340.50,28.61,27.40,29.21
2,3,92,32505769.00,28.11,26.81,29.56
3,4,218,55454061.50,26.32,24.26,29.30
4,5,1,305178.00,26.77,26.77,26.77
5,7,16,4469320.00,27.86,27.61,28.12
6,8,331,93079814.00,26.33,24.26,29.30
7,9,58,15451511.50,28.20,26.72,29.24
8,10,71,23478320.20,27.99,26.78,29.30
9,11,210,57487057.50,26.73,24.72,29.34
10,12,3,819900.00,27.52,26.77,27.89
11,14,246,72817069.00,26.98,24.72,29.34
12,15,79,25041375.00,27.31,25.72,29.34
13,16,43,17639893.00,28.60,26.22,29.34
14,17,123,40293020.50,27.37,24.72,29.90
15,19,2,557800.00,27.89,27.89,27.89
16,21,110,34742187.00,29.16,27.89,30.28
17,22,92,28727808.00,27.57,24.72,30.28
18,23,119,30332980.00,28.29,26.30,30.30
19,24,131,43684518.00,28.63,26.30,30.43
20,25,135,37651845.50,28.87,26.30,31.64
21,28,141,41584305.00,28.69,26.30,31.64
22,29,92,29739476.00,29.71,27.36,30.98
23,30,179,52983940.00,28.05,26.30,31.28
24,31,112,33597112.50,29.41,26.30,31.64

# Variations in price in a Day

In [23]:
df_jan_sum.sort_values(by=['TotalGrossValue'],ascending =False)

,Order_day,NumOrders,TotalGrossValue,AvgMeanPrice,MinMeanPrice,MaxMeanPrice
6,8,331,93079814.00,26.33,24.26,29.30
11,14,246,72817069.00,26.98,24.72,29.34
9,11,210,57487057.50,26.73,24.72,29.34
3,4,218,55454061.50,26.32,24.26,29.30
23,30,179,52983940.00,28.05,26.30,31.28
19,24,131,43684518.00,28.63,26.30,30.43
21,28,141,41584305.00,28.69,26.30,31.64
14,17,123,40293020.50,27.37,24.72,29.90
20,25,135,37651845.50,28.87,26.30,31.64
0,1,114,37098173.00,27.11,24.26,29.18
16,21,110,34742187.00,29.16,27.89,30.28
24,31,112,33597112.50,29.41,26.30,31.64
2,3,92,32505769.00,28.11,26.81,29.56
18,23,119,30332980.00,28.29,26.30,30.30
22,29,92,29739476.00,29.71,27.36,30.98
17,22,92,28727808.00,27.57,24.72,30.28
12,15,79,25041375.00,27.31,25.72,29.34
8,10,71,23478320.20,27.99,26.78,29.30
13,16,43,17639893.00,28.60,26.22,29.34
7,9,58,15451511.50,28.20,26.72,29.24
1,2,33,12485340.50,28.61,27.40,29.21
5,7,16,4469320.00,27.86,27.61,28.12
10,12,3,819900.00,27.52,26.77,27.89
15,19,2,557800.00,27.89,27.89,27.89
4,5,1,305178.00,26.77,26.77,26.77

In [24]:
df_jan_sum.sort_values(by=['AvgMeanPrice'],ascending =True)

,Order_day,NumOrders,TotalGrossValue,AvgMeanPrice,MinMeanPrice,MaxMeanPrice
3,4,218,55454061.50,26.32,24.26,29.30
6,8,331,93079814.00,26.33,24.26,29.30
9,11,210,57487057.50,26.73,24.72,29.34
4,5,1,305178.00,26.77,26.77,26.77
11,14,246,72817069.00,26.98,24.72,29.34
0,1,114,37098173.00,27.11,24.26,29.18
12,15,79,25041375.00,27.31,25.72,29.34
14,17,123,40293020.50,27.37,24.72,29.90
10,12,3,819900.00,27.52,26.77,27.89
17,22,92,28727808.00,27.57,24.72,30.28
5,7,16,4469320.00,27.86,27.61,28.12
15,19,2,557800.00,27.89,27.89,27.89
8,10,71,23478320.20,27.99,26.78,29.30
23,30,179,52983940.00,28.05,26.30,31.28
2,3,92,32505769.00,28.11,26.81,29.56
7,9,58,15451511.50,28.20,26.72,29.24
18,23,119,30332980.00,28.29,26.30,30.30
13,16,43,17639893.00,28.60,26.22,29.34
1,2,33,12485340.50,28.61,27.40,29.21
19,24,131,43684518.00,28.63,26.30,30.43
21,28,141,41584305.00,28.69,26.30,31.64
20,25,135,37651845.50,28.87,26.30,31.64
16,21,110,34742187.00,29.16,27.89,30.28
24,31,112,33597112.50,29.41,26.30,31.64
22,29,92,29739476.00,29.71,27.36,30.98

# Write function for above

In [25]:
def func_calc_monSumm(df,yr,mon,mat):
    dt = df[(df['Order_yr'] == yr) & (df['Order_mnth'] == mon)]
    dSum = dt[dt['Short Text'] == mat].groupby('Order_day',as_index=False).agg(
        # Tot Gross Value
        TotalGrossValue=('Gross value','sum'),
        #Total mat bought 
        ToalQuantity=('PO Quantity','sum'),
        # Num PO Raised
        NumPORaised=('Purch.Doc.','nunique'),
        # Avg Net Price for the day
        AvgNetPrice=('Net Price','mean'),
        # Min Net Prie for the day
        MinNetPrice=('Net Price','min'),
        # Max Net Prie for the day
        MaxNetPrice=('Net Price','max'),


    )
    return(dSum)

In [26]:
dsum = func_calc_monSumm(df,2019,1,'IB Ross Broiler Finisher Feed')
dsum

,Order_day,TotalGrossValue,ToalQuantity,NumPORaised,AvgNetPrice,MinNetPrice,MaxNetPrice
0,1,37098173.00,1353650.00,114,27.11,24.26,29.18
1,2,12485340.50,436300.00,33,28.61,27.40,29.21
2,3,32505769.00,1157150.00,92,28.11,26.81,29.56
3,4,55454061.50,2080900.00,218,26.32,24.26,29.30
4,5,305178.00,11400.00,1,26.77,26.77,26.77
5,7,4469320.00,160500.00,16,27.86,27.61,28.12
6,8,93079814.00,3515850.00,331,26.33,24.26,29.30
7,9,15451511.50,547425.00,57,28.20,26.72,29.24
8,10,23478320.20,839740.00,71,27.99,26.78,29.30
9,11,57487057.50,2139700.00,209,26.73,24.72,29.34
10,12,819900.00,30000.00,2,27.52,26.77,27.89
11,14,72817069.00,2675950.00,246,26.98,24.72,29.34
12,15,25041375.00,914350.00,76,27.31,25.72,29.34
13,16,17639893.00,616950.00,42,28.60,26.22,29.34
14,17,40293020.50,1472000.00,123,27.37,24.72,29.90
15,19,557800.00,20000.00,2,27.89,27.89,27.89
16,21,34742187.00,1190950.00,110,29.16,27.89,30.28
17,22,28727808.00,1041450.00,92,27.57,24.72,30.28
18,23,30332980.00,1059635.00,119,28.29,26.30,30.30
19,24,43684518.00,1517350.00,131,28.63,26.30,30.43
20,25,37651845.50,1294600.00,135,28.87,26.30,31.64
21,28,41584305.00,1435400.00,141,28.69,26.30,31.64
22,29,29739476.00,999300.00,92,29.71,27.36,30.98
23,30,52983940.00,1869800.00,179,28.05,26.30,31.28
24,31,33597112.50,1139150.00,112,29.41,26.30,31.64

In [27]:
dsum = func_calc_monSumm(df,2019,1,'Maize')
dsum

,Order_day,TotalGrossValue,ToalQuantity,NumPORaised,AvgNetPrice,MinNetPrice,MaxNetPrice
0,1,31207532.09,1780013.80,86,17.43,16.50,17.91
1,2,22073538.01,1261707.60,64,17.36,16.00,17.70
2,3,20706759.41,1182936.81,64,17.32,15.90,17.70
3,4,30638836.58,1743623.70,85,17.43,15.40,17.70
4,5,21025272.67,1194601.13,51,17.53,16.50,17.70
5,6,18619989.71,1057323.72,42,17.61,17.45,17.70
6,7,53609113.71,3060135.28,154,17.44,16.50,17.70
7,8,45500777.75,2595036.51,116,17.47,16.50,17.70
8,9,36938522.12,2107436.10,100,17.48,16.05,17.65
9,10,35693199.27,2030241.82,91,17.53,17.00,18.00
10,11,35501182.16,2008059.20,94,17.60,16.68,18.00
11,12,30529301.28,1714663.21,85,17.75,17.00,18.45
12,13,31816027.97,1772916.00,87,17.78,17.00,18.45
13,14,24032879.59,1341426.05,72,17.80,16.87,18.40
14,15,17683592.96,980580.32,47,17.93,17.00,18.50
15,16,15350437.49,847225.77,47,17.91,17.00,18.50
16,17,13006797.04,709786.79,36,18.12,17.00,18.65
17,18,10558495.59,573198.39,33,18.24,17.00,18.75
18,19,6115651.75,332315.55,15,18.32,17.55,18.65
19,21,8323821.26,452264.96,28,18.25,17.20,18.60
20,22,2528467.40,135310.20,7,18.61,18.43,18.75
21,23,1448657.48,76245.13,5,18.89,18.72,19.00
22,24,1390318.28,73174.65,4,18.99,18.96,19.00
23,25,4105877.05,214641.96,10,19.15,18.11,19.50
24,27,1589902.68,83679.09,5,18.90,18.75,19.00
25,28,6805034.60,357911.59,18,18.97,18.76,19.10
26,29,2037992.14,106755.85,5,19.06,18.90,19.10
27,30,3150274.52,164046.79,8,19.18,19.01,19.25
28,31,2038484.28,112723.85,6,17.81,14.75,19.25

In [28]:
dsum = func_calc_monSumm(df,2019,1,'Soya Bean - (MP)')
dsum

,Order_day,TotalGrossValue,ToalQuantity,NumPORaised,AvgNetPrice,MinNetPrice,MaxNetPrice
0,1,33044740.90,954.96,74,34602.73,34500.00,35000.00
1,2,16420088.42,476.65,39,34511.79,30500.00,35500.00
2,3,23526833.29,675.36,54,34835.56,34600.00,35010.00
3,4,18456111.12,526.39,42,35045.71,34600.00,35750.00
4,5,15659390.06,444.78,38,35168.94,34600.00,36000.00
5,6,38210478.10,1080.50,88,35362.95,34600.00,36000.00
6,7,38481528.86,1085.39,85,35450.94,34450.00,36000.00
7,8,30009417.94,845.83,64,35480.31,35000.00,36000.00
8,9,23154870.88,652.91,48,35467.92,34450.00,36000.00
9,10,16149115.10,453.34,38,35589.47,35350.00,36500.00
10,11,20666511.10,574.98,42,35919.05,35400.00,37000.00
11,12,12389349.76,342.62,26,36175.43,35400.00,36500.55
12,13,16604732.64,457.51,36,36309.44,35410.00,36500.00
13,14,25770845.79,709.19,54,36328.15,35400.00,36510.00
14,15,29154752.52,800.67,66,36422.42,36200.00,37000.00
15,16,19288250.53,528.29,42,36509.52,36200.00,37500.00
16,17,10396327.84,282.51,20,36801.00,36210.00,37000.00
17,18,13259167.40,358.81,26,36953.85,36800.00,37000.00
18,19,13462766.71,365.26,28,36855.71,36700.00,37100.00
19,20,4829048.50,131.15,10,36820.00,36750.00,37000.00
20,21,15253235.03,413.60,34,36848.82,36210.00,37750.00
21,22,15444746.80,412.55,34,37367.65,36400.00,38250.00
22,23,21762647.76,576.62,60,37615.37,32592.36,38750.00
23,24,6270307.81,163.05,12,38453.33,38210.00,38610.00
24,25,14300676.86,372.94,32,38366.87,36800.00,38650.00
25,27,14403822.99,374.61,30,38440.67,38200.00,38510.00
26,28,4074966.40,105.72,8,38537.50,38250.00,38800.00
27,29,7262673.30,187.14,14,38807.14,38500.00,39050.00
28,30,6951418.90,178.43,14,38950.00,38200.00,39450.00
29,31,9279376.35,234.96,18,39494.44,39400.00,39550.00

# Get Mateirial Group and check 
1500

In [29]:
df_jan2019.columns

Index(['Purch.Doc.', 'Item', 'Changed On', 'Short Text', 'Material', 'CoCd',
       'Plnt', 'SLoc', 'Matl Group', 'PO Quantity', 'OUn', 'OPU', 'Eq. To',
       'Net Price', 'Per', 'Net Value', 'Gross value', 'Overdel. Tol.',
       'Underdel.Tol.', 'Item.1', 'BUn', 'Non-deductible', 'Price Date',
       'Effective value', 'PTm', 'Net Weight', 'Un', 'Profit Ctr',
       'Gross Weight', 'Volume', 'RShLi', 'MTyp', 'NCM Code', 'Reb.basis',
       'Priority (Material Required Within)', 'Ordered By', 'Approved By',
       'Priority', 'Section', 'Indenter ID', 'Input Tax Credit', 'Order_yr',
       'Order_mnth', 'NumTimesBought', 'SumGrossValue', 'AvgPerUnitCost',
       'Cluster_km', 'Cluster_names', 'Order_wd', 'Order_dow', 'Order_day',
       'Week_Number'],
      dtype='object')

In [30]:
df_jan2019['Short Text'].nunique()

2887

In [31]:
df_jan2019['Matl Group'].nunique()

132

In [32]:
df_jan2019['Matl Group'].value_counts()

1500    7580
2003    2720
2353    2559
2211    2128
2006     875
        ...
0080       1
1606       1
1608       1
2402       1
2703       1
Name: Matl Group, Length: 132, dtype: int64

In [33]:
def func_calc_monSumm2(df,yr,mon,colToFilter,colValue):
    dt = df[(df['Order_yr'] == yr) & (df['Order_mnth'] == mon)]
    dSum = dt[dt[colToFilter] == colValue].groupby('Order_day',as_index=False).agg(
        # Tot Gross Value
        TotalGrossValue=('Gross value','sum'),
        #Total mat bought 
        ToalQuantity=('PO Quantity','sum'),
        # Num PO Raised
        NumPORaised=('Purch.Doc.','nunique'),
        # Avg Net Price for the day
        AvgNetPrice=('Net Price','mean'),
        # Min Net Prie for the day
        MinNetPrice=('Net Price','min'),
        # Max Net Prie for the day
        MaxNetPrice=('Net Price','max'),
    )
    return(dSum)

In [34]:
dsum = func_calc_monSumm2(df,2019,1,'Matl Group','1500')
dsum

,Order_day,TotalGrossValue,ToalQuantity,NumPORaised,AvgNetPrice,MinNetPrice,MaxNetPrice
0,1,80508412.00,2844400.00,162,28.52,24.26,31.95
1,2,26642189.10,918770.00,49,28.66,1.50,31.48
2,3,65331599.75,2283045.10,116,163.36,1.50,30250.00
3,4,112417816.50,4092767.92,277,83.11,1.50,31200.00
4,5,2371666.00,93760.00,8,20.83,1.50,28.32
5,6,47020.50,15860.00,2,2.75,2.40,3.10
6,7,14183494.50,491116.84,29,584.05,0.60,31200.00
7,8,194800865.35,7151850.00,445,27.61,1.50,31.60
8,9,40383666.40,1401255.00,77,28.82,1.50,31.50
9,10,54464410.70,1910040.00,110,28.47,0.60,31.60
10,11,124524292.25,4470025.00,291,27.92,1.50,31.68
11,12,829432.50,36355.00,4,14.51,1.50,27.89
12,13,98926.00,14640.00,3,5.67,0.60,14.00
13,14,143821907.00,5113870.00,313,28.25,1.50,31.68
14,15,1974352903.10,79550965.00,129,26.58,3.10,31.68
15,16,32657168.75,1181065.00,52,28.63,1.50,31.68
16,17,82596015.85,2963143.61,169,128.82,0.60,32160.00
17,18,6907601.40,262386.02,9,1913.59,1.50,32160.00
18,19,557800.00,20000.00,2,27.89,27.89,27.89
19,20,137011.75,27665.00,5,3.68,1.50,14.25
20,21,85626787.00,2872600.00,147,29.97,1.50,32.78
21,22,63095161.00,2207945.00,123,28.69,2.40,32.78
22,23,2074018493.55,82202530.00,175,27.90,2.40,32.80
23,24,86447583.00,2967604.00,186,29.06,1.50,32.58
24,25,78788676.50,2659510.00,177,29.30,1.50,34.28
25,26,1212343.00,117100.00,8,24.53,1.50,135.00
26,28,95726548.30,3257210.00,190,29.38,1.50,34.28
27,29,2255018674.85,89086245.00,160,28.61,3.10,33.48
28,30,100653358.00,3517475.00,241,28.46,1.50,33.48
29,31,75039632.50,2494630.00,147,30.10,1.50,34.30